.movie {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

.movie-poster, .movie-info {
    flex: 1;
}

.movie-poster img {

    max-height: 500px;
}

.loading-mask {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 1);
    display: none;
}
.loading-mask.loading{
    display: block;
}
.icon-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loading-icon {
    animation: rotation 8s linear infinite;
    width: 50px;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}



